<div *ngIf="!isShowChangePassword" class="forgot-password">
    <h1>Forgot Password</h1>
    <div class="row py-3">
        <div class="col-md-3">
            <label>Enter Email</label>
        </div>
        <div class="col-md-9">
            <input type="text" [(ngModel)]="email" />
        </div>
    </div>
    <br />
    <button (click)="onSubmit()" class="btn btn-primary">Submit</button>
</div>
<div *ngIf="isShowChangePassword" class="forgot-password">
    <h1>Change Password</h1>
    <br />
    <div class="row py-3">
        <div class="col-md-3">
            <label>Enter New Password</label>
        </div>
        <div class="col-md-9">
            <input type="password" [(ngModel)]="newPassword" />
        </div>
    </div>
    <br />
    <button (click)="onChangePassword()" class="btn btn-primary">Submit</button>
</div>