.forgot-password {
    width: 40%;
    margin: 5em auto;
    box-shadow: 0 0 5px 1px #ccc;
    text-align: center;
    padding:3em;
    
}
table tr {
    
    border-style: hidden;
}
td{
    margin: auto 10px;
}
input{
    width: 100%;
    padding: 10px;
    border:1px solid #ccc
}